*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
.home{
    min-height: 100vh;
    background-image: url(pic.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(100vh,100vw); 
    position: relative;
}
.bkimage{
   background-color: black;
   height: 100vh;
   width: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0;
}
nav{
    background-color: rgb(4, 187, 233);
    border-radius: 10px;
    width: 100%;
    height: 6vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    position: absolute;
    top: 0;
}
.navbar{
    width: 100vw;
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}
.navbar li{
    display: flex;
    gap: 5px;
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar{
    width: 23vw;
    height: 6vh;
    background-color:white;
    border-radius: 2vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar img{
    width: 4vh;
    position: absolute;
    right:2vw;
}
.search-bar input{
    width: 70%;
    height: 5vh;
    font-size: 23px;
    background-color:white;
    border: 2px solid white;
    padding-left: 10px;
    position: absolute;
    left: 2vh;
}
.text{
    height:93%;
    width: 99%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.log{
    display: flex;
    gap: 10px;
    margin-right: 30px;
    align-items: center;
}
.log button{
    width: 5vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
}
.b1{
    background-color: black;
    color:white;
    font-size: 17px;
    font-weight: 550;
}
.b2{
    background-color:rgb(246, 12, 12);
    color:white;
    font-size: 17px;
    font-weight: 550;
}

